.app {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: background 0.5s ease-in;
}

/* LIGHT MODE OUTSIDE */
.app.light {
  background: rgb(91, 91, 176); /* blue like your image */
}

/* DARK MODE OUTSIDE */
.app.dark {
  background: #020617;
}

/* Toggle button */
.mode-toggle {
  position: absolute;
  top: 20px;
  right: 20px;

  padding: 6px 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
